 <!--<jce-invoice-form (invoiceAddedEvent) = "addInvoice($event)"></jce-invoice-form>-->
 <jce-spinner  [visible] = "isLoading"></jce-spinner>
<div>
 <ul class="list-group invoices">
    <li *ngFor = "let invoice of invoices" 
        [class.active]="currentInvoice == invoice" 
        (click) = "select(invoice)"
        class="list-group-item">     
    </li>
  </ul>
</div>