<div>
   <h2>Products List (From FireBase):</h2>
   <table class= " table table-striped table-bordered btn-group-justified btn-xs"> 
     <tr>
       <th >Id</th>
       <th >Name</th> 
       <th >Cost</th>  
      <th >CategoryId</th>
      <th >Delete</th>  
     </tr>
 
     
     <tr *ngFor = "let product of products" >
      <td *ngFor = "let column of columns">
        <jce-product [product]="product" [column]="column" (deleteEvent)="deleteProduct($event)"></jce-product>
       </td>
     </tr>
   </table>

    <h2>Products List (From FireBase):</h2>
  <table class= " table table-striped table-bordered btn-group-justified btn-xs"> 
    <tr>
      <th >Id</th>
      <th >Name</th> 
      <th >Cost</th> 
      <th >Category Name</th>
      <th >Delete</th> 
    </tr>

   <tr *ngFor = "let product of products">

         <!-- for product columns -->
          <td *ngFor = "let column of columns2">
          <jce-product [product]="product" [column]="column" (deleteEvent)="deleteProduct($event)"></jce-product>
          </td>

          <!-- for category name columns -->
          <td *ngFor= "let name of product.categotyName">
              {{(name | async)?.name}}
          </td>

          <!-- for delete columns -->
          <td>
          <jce-product [product]="product" [column]=5 (deleteEvent)="deleteProduct($event)"></jce-product>
          </td>

    </tr>
  </table>
</div> 