<span *ngIf = "column == 1">{{product.pid}}</span> 
<span *ngIf = "column == 2">{{product.pname}}</span>  
<span *ngIf = "column == 3">{{product.cost}}</span>  
<span *ngIf = "column == 4">{{product.categoryId}}</span>
<button *ngIf = "column == 5" type="button" class="btn btn-danger" (click) = "sendDelete()" >Delete</button>  